body{
    background-color: #c8e5eb;
}


h1, h2, h3, h4, h5, h6{
    color: #000;
}

section{
    height: 550px;
}

section h2{
    color: #000;
}


/*** NAVIGATION BAR ***/
nav{
    background-color: rgba(0, 103, 255, .9)!important;
    margin-bottom: 0!important;
    border-bottom: 0!important;
} 

nav .navbar-toggle{
    border-color: #fff!important;
    background-color: rgba(77, 148, 255, 1)!important;
}

nav .navbar-toggle span{
        background-color: #fff!important;
}

nav .nav li{
    padding-top: 3px!important;
}

nav .nav li a{
    color: #fff!important;
    font-weight: bold;
    font-size: 1.7rem;
}


nav .nav li a:hover{
    background-color: rgba(255, 152, 0, .9)!important;
}



/*** PROMOTION ***/

.promotion{
    background: url('../img/dress5.jpg') no-repeat 43%;
    background-position: fixed;
    position: relative;
	height: 100vh;
}

.promotion img{
    position:absolute;
    right: 3%;
    top: 35%;
    height: 125px;
    width: 125px;
}

.promotion h2{
    position: absolute;
    color: white;
    bottom: 10vh;
    background-color: rgba(255, 152, 0, 1);
    padding:10px 20px;
    margin-bottom: 0;
    font-size: 26px!important;
    font-weight: bold;
    line-height: 1.5;
    text-shadow: 1px 1px 1px #fff;
}


/*** SALES ***/
.sale{
    background: url('../img/bluecanvaspattern3.jpg') repeat;
    height: auto;
}

.sale h2{
    padding: 1.5rem;
    font-weight: bolder;
    margin-top: 0px;
    color: #fff;
    line-height: 1.5;
    text-shadow: 2px 2px 4px #000;
}

.sale h2{
    margin-top: 0px;
}

.sale h2 span{
    display: block;
    font-size: 24px;
    margin-top: 0;
    color: #ff3333;
	text-shadow: 2px 2px 4px #ccc;
}


.tab-container{
    background-color: #fff;
    padding: 0 !important;
    border-radius: 4px;
    margin-top: 10px;
    margin-bottom: 20px;
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
    background-clip: padding-box;
    opacity: 1;
}


.tab-container:hover,
.tab-container:focus
{
     box-shadow: 0 0 6px rgba(2, 95, 232, .5),0 0 6px rgba(2, 95, 232, .5),0 0 6px rgba(2, 95, 232, .5);       
}

.tab-menu{
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 0;
}

.tab-menu .list-group{
    margin-bottom: 0;
}

.tab-menu .list-group>a{
    margin-bottom: 0;  
}

.tab-menu .list-group>a:hover{
    background-color: red;    
}

.tab-menu .list-group>a p{
    font-size: 1rem;  
    color: #000;
    font-weight: bold;
}

.tab-menu div.list-group>a.active p{
    color:#fff;
}

.tab-menu div.list-group>a:hover p{
    color:#fff;
}

.tab-menu div.list-group>a .glyphicon,
.tab-menu div.list-group>a .fa {
    color: red;
}

.tab-menu div.list-group>a:hover .glyphicon,
.tab-menu div.list-group>a:hover .fa {
    color: #fff;
}


.tab-menu div.list-group>a:first-child{
  border-top-right-radius: 0;
}

.tab-menu div.list-group>a:last-child{
  border-bottom-right-radius: 0;
}

.tab-menu div.list-group>a.active,
.tab-menu div.list-group>a.active .glyphicon,
.tab-menu div.list-group>a.active .fa{
  background-color: red;
  background-image: red;
  color: #fff;
}

/* This is the arrow */
.tab-menu div.list-group>a.active:after{
  content: '';
  position: absolute;
  left: 100%;
  top: 50%;
  margin-top: -13px;
  border-left: 0;
  border-bottom: 13px solid transparent;
  border-top: 13px solid transparent;
  border-left: 10px solid red;
}

.tab-content{
  background-color: #ffffff;
  padding-left: 20px;
  padding-top: 10px;
}

.tab-content img{
    border-radius: 10px;
    min-width:100%!important;
}

.tab-content h4{
    margin-top: 20px;
}


/*.tab-content h4 span,*/
.tab-content h5{
    margin-top: 20px;
    color: red;
    font-weight: bold;
    font-size: 1.625rem;
    line-height: 1.25;
    text-shadow: 1px 1px 1px #000, 1px 1px 1px #000;
}

.tab-content h5{
    display:none;
}

.tab .tab-content:not(.active){
  display: none;
}

.tab{
    padding-left:0!important;
}




/*** SUPPORT CONTACT FORM ***/

.support{
    background: url('../img/contact.jpg') no-repeat center center;
}


.support h2{
    padding: 1.5rem;
    font-weight: bolder;
    margin-top: 0px;
    color: #fff;
    line-height: 1.5;
    text-shadow: 2px 2px 4px #000000;
}

.support .container-fluid{
    margin-top: 1.2rem;
}

.support .form-horizontal{
    background-color: rgba(0,0,0,.1);
    padding: 1rem;
    border-radius: 16px;
}

.support .form-horizontal:hover,
.support .form-horizontal:focus
{
     box-shadow: 0 0 6px rgba(255, 152, 0, 1),0 0 6px rgba(255, 152, 0, 1),0 0 6px rgba(255, 152, 0, 1);       
}

.support .form-horizontal p{
    margin-bottom: 2rem;
    font-weight: bold;
    font-size: 2rem;
    color: #ff9800;
    text-shadow: 1px 1px 3px #222, 1px 1px 1px #000;
}


.support .form-horizontal .form-group{
    padding: 5px 0;
}


.support .form-horizontal textarea{
    resize:none;
}

.support .form-horizontal .btn{
    border-radius: 20px;
    padding: 6px 20px;
    float: right;
    font-weight: bold;
    text-shadow: 1px 1px 1px #000, 1px 1px 1px #000;
}

.support .form-horizontal .btn:hover{
    box-shadow: 0 0 6px rgba(92, 184, 92, 1);
}
        
.support #ok,
.support #nope{
    display:none;
    text-align: center;
    color: #fff;
}

/*** FOOTER ***/
footer p{
    font-size: .8rem;
    background-color: rgba(0,0,0,.9);
    color: #ff9800;
    margin-bottom: 0;
    padding: 1.25rem;
    text-shadow: 2px 2px 9px #444;
}






