body{
    background-color: #c8e5eb;
}


h1, h2, h3, h4, h5, h6{
    color: #000;
}

section{
    height: 550px;
}

section h2{
    color: #000;
}


/*** NAVIGATION BAR ***/
nav{
    background-color: rgba(0, 103, 255, .9)!important;
    margin-bottom: 0!important;
    border-bottom: 0!important;
} 

nav .navbar-toggle{
    border-color: #fff!important;
    background-color: rgba(77, 148, 255, 1)!important;
}

nav .navbar-toggle span{
        background-color: #fff!important;
}

nav .nav li{
    padding-top: 3px!important;
}

nav .nav li a{
    color: #fff!important;
    font-weight: bold;
    font-size: 1.7rem;
}


nav .nav li a:hover{
    background-color: rgba(255, 152, 0, .9)!important;
}



/*** PROMOTION ***/

.promotion{
    background: url('../img/dress5.jpg') no-repeat 43%;
    background-position: fixed;
    position: relative;
}

.promotion img{
    position:absolute;
    right: 3%;
    top: 35%;
    height: 125px;
    width: 125px;
}

.promotion h2{
    position: absolute;
    color: white;
    bottom: 0;
    background-color: rgba(255, 152, 0, 1);
    padding:10px 20px;
    margin-bottom: 0;
    font-size: 26px!important;
    font-weight: bold;
}




/*** SUPPORT CONTACT FORM ***/

.support{
    background: url('../img/contact.jpg') no-repeat center center;
}


.support h2{
    padding: 1.5rem;
    font-weight: bolder;
    margin-top: 0px;
    color: #fff;
    line-height: 1.5;
    text-shadow: 2px 2px 4px #000000;
}

.support .container-fluid{
    margin-top: 1.2rem;
}

.support .form-horizontal{
    background-color: rgba(0,0,0,.1);
    padding: 1rem;
    border-radius: 16px;
}

.support .form-horizontal:hover,
.support .form-horizontal:focus
{
     box-shadow: 0 0 6px rgba(255, 152, 0, 1),0 0 6px rgba(255, 152, 0, 1),0 0 6px rgba(255, 152, 0, 1);       
}

.support .form-horizontal p{
    margin-bottom: 2rem;
    font-weight: bold;
    font-size: 2rem;
    color: #ff9800;
    text-shadow: 1px 1px 3px #222, 1px 1px 1px #000;
}


.support .form-horizontal .form-group{
    padding: 5px 0;
}


.support .form-horizontal textarea{
    resize:none;
}

.support .form-horizontal .btn{
    border-radius: 20px;
    padding: 6px 20px;
    float: right;
    font-weight: bold;
    text-shadow: 1px 1px 1px #000, 1px 1px 1px #000;
}

.support .form-horizontal .btn:hover{
    box-shadow: 0 0 6px rgba(92, 184, 92, 1);
}
        
.support #ok,
.support #nope{
    display:none;
    text-align: center;
    color: #fff;
}

/*** FOOTER ***/
footer p{
    font-size: .8rem;
    background-color: rgba(0,0,0,.9);
    color: #ff9800;
    margin-bottom: 0;
    padding: 1.25rem;
    text-shadow: 2px 2px 9px #444;
}






